/***** ROOT TOKENS *****/
:root {
  --gutter: 3.5rem;
  --headerH: 4.5rem;                /* Header height */
  --footerH: 2.25rem;
}

/***** GLOBAL BASE *****/
* { box-sizing: border-box; }

html, body { 
    height:100%;
    min-height:100%;
    overflow: hidden; 
}

body {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    line-height: 1.6;
    color: #0f172a;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    padding: 0; margin: 0;
    box-sizing: border-box;	
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0; margin: 0;
}

/***** HEADER *****/
/* Position only */
.header {
    flex: 0 0 auto;
    z-index: 1000;
    background: #fff;
}

/***** MAIN LAYOUT *****/
.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    margin: 0;
}

.main > #main {
  flex: 1 1 auto;
  display: flex;            /* lets #pg-wrapper use flex:1 */
  flex-direction: column;
  min-height: 0;
}

/***** FOOTER *****/
.footer {
    flex: 0 0 auto;
    background: #fff;
    min-height: var(--footerH);

    padding: 0.75rem var(--gutter);
    color: #475569;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 400;
}